
<!--Parking Availability Start-->
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body text-center">
        <h1>{{totalParked}}</h1>
        <p>Total Cars Parked (So Far)</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body text-center text-success">
        <h1>{{totalEmptySlot}}</h1>
        <p>Available Slots (Right Now)</p>
      </div>
    </div>
  </div>
</div>
<!--Parking Availability End-->


<!--Vehicle Types Start-->
<div class="row mt-3">
  <div *ngFor="let item of vehicleTypeCount; index as i;" class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <h1>{{vehicleTypeCount[i]}}</h1>
        <p>{{vehicleTypeName[i]}}</p>
      </div>
    </div>
  </div>
</div>
<!--Vehicle Types End-->
